
data/sim
data/real
data/real_bck
data/video
data/code_test

temp_data

results/*
!results/README.md

ws_dlo/*
!ws_dlo/src

ws_dlo/src/universal_robot
ws_dlo/src/dual_ur
ws_dlo/src/robotiq
ws_dlo/src/moveit_all
ws_dlo/src/ur_rtde

ws_dlo/src/ros_tcp_endpoint

ws_dlo/src/Universal_Robots_ROS_Driver
ws_dlo/src/aruco_ros
ws_dlo/src/easy_handeye
ws_dlo/src/camport_ros
ws_dlo/src/Azure_Kinect_ROS_Driver


**/.vscode
**/__pycache__
**/build


